* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
}

.bg-dark {
  background-color: #FF0000 !important;
  color: white !important;
}
.nav-item, .nav-link {
  color: white !important;
}
.navbar-toggler {
  background-color: blue !important;
  /*background-color: white !important;*/
}
.navbar-dark, .navbar-toggler {
  color: black !important;
  border-color: black !important;
}

.nav-link:hover {
  color: blue !important;
}
.active .nav-link {
  /*color: black !important;*/
  border: 1px solid black;
  padding-left: 4px;
  padding-right: 4px;
  display: inline-block;
}

#jokePage {
  color: blue;
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 5px 10px;
}
h1 {
  font-family: 'Anton', sans-serif;
  margin: 5px 10px;
}
p {
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 5px 10px;
  font-size: 25px;
}
.jokeSetup {
  font-size: 1.2em;
}

.punchline {
  font-family: 'Stick', sans-serif;
  font-size: 1.5em;
}

body {
  text-align: center;
}

h1, form, input {
  margin: 10px;
}

#intro {
  margin-left: 20px;
  margin-right: 20px;
}

h2.homepage {
  margin-bottom: 10px;
}

#indexButton, #searchButton, #jokeButton, #multipleJokesButton {
  padding: 8px;
}
form {
  text-align: left;
  margin-left: 15px;
}

#jokePage form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#pokemonGrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.pokemonListElem {
  display: inline;
  /*background-color: red;*/
  color: blue;
  padding: 5px 10px;
}

.pokemonName {
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
}

.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0;
}
